APP_ENV=live
APP_DEBUG=false
APP_NAME="My MVC App"

DB_HOST=localhost
DB_NAME=template_db
DB_USER=root
DB_PASS=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=kadhlankadeva@gmail.com
MAIL_PASSWORD=ltbk qvwv iols zdvf
MAIL_FROM=kadhlankadeva@gmail.com
MAIL_FROM_NAME="My MVC App"
