
:root{
--number__df__header-more-menu-width: 100%;
--number__df__header-more-menu-padding: 20px 20px 20px 20px;
--number__tp-tl__header-main-navigation-active-border-width: 0 0 2px;
--number__tp-tl__header-fixed-main-navigation-active-border-width: 0 0 2px;
--number__tp-tl__header-main-navigation-sub-menu-width: 150px;
--number__tp-tl__header-main-navigation-sub-menu-border-width: 0;
--number__tp-tl__header-main-navigation-sub-menu-padding: 10px 15px;
--number__tp-tl__header-more-menu-width: 320px;
--number__tp-tl__header-more-menu-border-width: 0;
--number__tp-tl__header-more-menu-padding: 30px 30px 30px 30px;
--number__tp-tl__header-more-menu-branding-width: 230px;
--number__tl-dt__header-main-navigation-active-border-width: 0 0 2px;
--number__tl-dt__header-fixed-main-navigation-active-border-width: 0 0 2px;
--number__tl-dt__header-main-navigation-sub-menu-width: 150px;
--number__tl-dt__header-main-navigation-sub-menu-border-width: 0;
--number__tl-dt__header-main-navigation-sub-menu-padding: 10px 15px;
--number__tl-dt__header-more-menu-width: 320px;
--number__tl-dt__header-more-menu-border-width: 0;
--number__tl-dt__header-more-menu-padding: 30px 30px 30px 30px;
--number__dt-ls__header-main-navigation-active-border-width: 0 0 2px;
--number__dt-ls__header-fixed-main-navigation-active-border-width: 0 0 2px;
--number__dt-ls__header-main-navigation-sub-menu-width: 150px;
--number__dt-ls__header-main-navigation-sub-menu-border-width: 0;
--number__dt-ls__header-main-navigation-sub-menu-padding: 12px 20px 15px 20px;
--number__dt-ls__header-more-menu-width: 350px;
--number__dt-ls__header-more-menu-border-width: 0;
--number__dt-ls__header-more-menu-padding: 30px 30px 30px 40px;
--number__df__footer-padding: 30px 0 0;
--number__df__footer-items-wrapper-width: 100%;
--number__df__footer-items-wrapper-padding: 0;
--number__df__footer-items-wrapper-margin: 0;
--number__df__footer-copyright-padding: 20px 0;
--number__tp-tl__footer-padding: 30px 0 0;
--number__tp-tl__footer-items-wrapper-width: 100%;
--number__tp-tl__footer-items-wrapper-padding: 0;
--number__tp-tl__footer-items-wrapper-margin: 0;
--number__tp-tl__footer-copyright-padding: 20px 0;
--number__tl-dt__footer-padding: 100px 0;
--number__tl-dt__footer-items-wrapper-width: 100%;
--number__tl-dt__footer-items-wrapper-padding: 0;
--number__tl-dt__footer-items-wrapper-margin: 0;
--number__tl-dt__footer-copyright-padding: 20px 0;
--number__dt-ls__footer-padding: 100px 0;
--number__dt-ls__footer-items-wrapper-width: 100%;
--number__dt-ls__footer-items-wrapper-padding: 0;
--number__dt-ls__footer-items-wrapper-margin: 0;
--number__dt-ls__footer-copyright-padding: 20px 0;
--number__df__main-visual-slogan-wrapper-padding: 20px 0 50px;
--number__df__main-visual-slogan-wrapper-container-padding: 0 20px;
--number__df__main-visual-pager-wrapper-bottom: 26px;
--number__tp-tl__main-visual-slogan-wrapper-padding: 16px 0;
--number__tp-tl__main-visual-slogan-wrapper-bottom: 60px;
--number__tp-tl__main-visual-slogan-wrapper-container-padding: 0 20px;
--number__tp-tl__main-visual-pager-wrapper-bottom: 20px;
--number__tl-dt__main-visual-slogan-wrapper-padding: 16px 0;
--number__tl-dt__main-visual-slogan-wrapper-bottom: 60px;
--number__tl-dt__main-visual-slogan-wrapper-container-padding: 0 20px;
--number__tl-dt__main-visual-pager-wrapper-bottom: 20px;
--number__dt-ls__main-visual-slogan-wrapper-padding: 16px 0;
--number__dt-ls__main-visual-slogan-wrapper-bottom: 60px;
--number__dt-ls__main-visual-slogan-wrapper-container-padding: 0 20px;
--number__dt-ls__main-visual-pager-wrapper-bottom: 20px;
--number__df__xbox-main-strip-image-wrapper-width: 100%;
--number__df__xbox-main-strip-content-wrapper-width: 100%;
--number__df__xbox-main-strip-content-wrapper-padding: 20px 0 0;
--number__tp-tl__xbox-main-strip-image-wrapper-width: 100%;
--number__tp-tl__xbox-main-strip-content-wrapper-width: 100%;
--number__tp-tl__xbox-main-strip-content-wrapper-padding: 60px 60px 0;
--number__tl-dt__xbox-main-strip-image-wrapper-width: 50%;
--number__tl-dt__xbox-main-strip-content-wrapper-width: 50%;
--number__tl-dt__xbox-main-strip-content-wrapper-padding: 0 0 0 40px;
--number__dt-ls__xbox-main-strip-image-wrapper-width: 50%;
--number__dt-ls__xbox-main-strip-content-wrapper-width: 50%;
--number__dt-ls__xbox-main-strip-content-wrapper-padding: 0 0 0 60px;
--number__df__xbox-sub-flex-wrapper-padding: 20px 0;
--number__tp-tl__xbox-sub-flex-wrapper-padding: 20px;
--number__tl-dt__xbox-sub-flex-wrapper-padding: 20px;
--number__dt-ls__xbox-sub-flex-wrapper-padding: 25px;
--number__df__r2g-flex-xlist-main-strip-xlist-item-gap: 20px;
--number__tp-tl__r2g-flex-xlist-main-strip-xlist-item-gap: 20px;
--number__tl-dt__r2g-flex-xlist-main-strip-xlist-item-gap: 20px;
--number__dt-ls__r2g-flex-xlist-main-strip-xlist-item-gap: 20px;
--number__df__rotator-main-strip-slick-slide-margin-left: 0;
--number__df__rotator-main-strip-slick-slide-margin-right: 0;
--number__tp-tl__rotator-main-strip-slick-slide-margin-left: 20px;
--number__tp-tl__rotator-main-strip-slick-slide-margin-right: 20px;
--number__tl-dt__rotator-main-strip-slick-slide-margin-left: 20px;
--number__tl-dt__rotator-main-strip-slick-slide-margin-right: 20px;
--number__dt-ls__rotator-main-strip-slick-slide-margin-left: 20px;
--number__dt-ls__rotator-main-strip-slick-slide-margin-right: 20px;
--number__df__content-sub-padding: 0 30px 30px;
--number__tp-tl__content-sub-padding: 0 30px;
--number__tl-dt__content-sub-padding: 0 30px;
--number__dt-ls__content-sub-padding: 0 30px;
--number__df__breadcrumb-breadcrumb-wrapper-padding: 15px 0;
--number__df__breadcrumb-seperator-padding: 0;
--number__df__breadcrumb-seperator-margin: 0 12px;
--number__tp-tl__breadcrumb-breadcrumb-wrapper-padding: 15px 0;
--number__tp-tl__breadcrumb-seperator-padding: 0;
--number__tp-tl__breadcrumb-seperator-margin: 0 12px;
--number__tl-dt__breadcrumb-breadcrumb-wrapper-padding: 15px 0;
--number__tl-dt__breadcrumb-seperator-padding: 0;
--number__tl-dt__breadcrumb-seperator-margin: 0 12px;
--number__dt-ls__breadcrumb-breadcrumb-wrapper-padding: 15px 0;
--number__dt-ls__breadcrumb-seperator-padding: 0;
--number__dt-ls__breadcrumb-seperator-margin: 0 12px;
--number__df__main-content-strip-content-wrapper-width: 100%;
--number__tp-tl__main-content-strip-content-wrapper-width: 100%;
--number__tl-dt__main-content-strip-content-wrapper-width: 585px;
--number__dt-ls__main-content-strip-content-wrapper-width: 585px;
--number__df__tab-mainstrip-accordion-title-padding: 10px;
--number__df__tab-mainstrip-accordion-content-padding: 30px 0 0;
--number__df__tab-mainstrip-accordion-title-content-width: 0;
--number__tp-tl__tab-mainstrip-tab-titles-wrapper-padding: 0;
--number__tp-tl__tab-mainstrip-vertical-tab-titles-wrapper-width: 280px;
--number__tp-tl__tab-mainstrip-vertical-tab-titles-wrapper-padding: 20px;
--number__tp-tl__tab-mainstrip-accordion-title-padding: 10px;
--number__tp-tl__tab-mainstrip-accordion-content-padding: 30px 0 0;
--number__tp-tl__tab-mainstrip-horizontal-tab-titles-padding: 10px 15px;
--number__tp-tl__tab-mainstrip-horizontal-tab-titles-margin: 0;
--number__tp-tl__tab-mainstrip-vertical-tab-titles-padding: 12px 0;
--number__tp-tl__tab-mainstrip-tab-content-wrapper-padding: 0;
--number__tp-tl__tab-mainstrip-vertical-tab-content-wrapper-padding: 0;
--number__tl-dt__tab-mainstrip-tab-titles-wrapper-padding: 0;
--number__tl-dt__tab-mainstrip-vertical-tab-titles-wrapper-width: 280px;
--number__tl-dt__tab-mainstrip-vertical-tab-titles-wrapper-padding: 20px;
--number__tl-dt__tab-mainstrip-accordion-title-padding: 10px;
--number__tl-dt__tab-mainstrip-accordion-content-padding: 40px 0 0;
--number__tl-dt__tab-mainstrip-horizontal-tab-titles-padding: 10px 15px;
--number__tl-dt__tab-mainstrip-horizontal-tab-titles-margin: 0;
--number__tl-dt__tab-mainstrip-vertical-tab-titles-padding: 12px 0;
--number__tl-dt__tab-mainstrip-tab-content-wrapper-padding: 0;
--number__tl-dt__tab-mainstrip-vertical-tab-content-wrapper-padding: 0;
--number__dt-ls__tab-mainstrip-tab-titles-wrapper-padding: 0;
--number__dt-ls__tab-mainstrip-vertical-tab-titles-wrapper-width: 350px;
--number__dt-ls__tab-mainstrip-vertical-tab-titles-wrapper-padding: 20px;
--number__dt-ls__tab-mainstrip-accordion-title-padding: 10px;
--number__dt-ls__tab-mainstrip-accordion-content-padding: 30px 0 0;
--number__dt-ls__tab-mainstrip-horizontal-tab-titles-padding: 10px 15px;
--number__dt-ls__tab-mainstrip-horizontal-tab-titles-margin: 0;
--number__dt-ls__tab-mainstrip-vertical-tab-titles-padding: 12px 0;
--number__dt-ls__tab-mainstrip-tab-content-wrapper-padding: 0;
--number__dt-ls__tab-mainstrip-vertical-tab-content-wrapper-padding: 0;
--number__df__form-main-strip-form-wrapper-width: 100%;
--number__tp-tl__form-main-strip-form-wrapper-width: 100%;
--number__tl-dt__form-main-strip-form-wrapper-width: 90%;
--number__dt-ls__form-main-strip-form-wrapper-width: 80%;
}